{% extends 'base.html' %}
{% load static %}

{% block titulo %}
    Constancia de estudios
{% endblock %}

{% block colorFondo %}style="background-color: #b4ddc9;"{% endblock colorFondo %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/formulario.css' %}">
{% endblock %}

{% block encabezado %} 
    Trámite de constancia de estudios
{% endblock %}
{% block contenido %}
<form method="POST" id="tramite">
    {% csrf_token %}
    <div id="svg_wrap">
    </div>
    <section>
        <div class="container">
	    <p style="display: inline;"><b>Datos del trámite</b></p>
            <hr>
            <p style="display: inline;">
                <p>
                    {{form.curp}}
                </p>
                <p>
                    <label for="id_nivel_estudios">Nivel estudios</label> 
                    {{form.nivel_estudios}}
                </p>
                <p>
                    <label for="id_nombre_escuela">Nombre escuela</label> 
                    {{form.nombre_escuela}}
                </p>
                <p>
                    <label for="id_localidad">Localidad</label> 
                    {{form.localidad}}
                </p>
                <p>
                    <label for="id_anio_aprox">Año aproximado que se cursó el grado</label> 
                    {{form.anio_aprox}}
                </p>
                <p>
                    {{form.fotografia}}
                    <label for="id_fotografia">Fotografía reciente, de frente, sin lente y sin gorra o sombrero</label> 
                </p>
                <p>
                    <label for="id_num_telefonico">Número de teléfono</label> 
                    {{form.num_telefonico}}
                </p>
                <p>
                    <label for="id_email">Correo electrónico</label> 
                    {{form.email}}
                </p>
                {{form.tramite}}
            </p>
        </div>
    </section>
    <div id="prev">
        <a class="btn btn-secondary btn-lg" href="{% url 'constancia_estudios:lista' %}" name="botones-formulario">Regresar</a>    
        <input type="submit" class="btn btn-primary btn-lg" id="submit" value="{% if editar == False %}Agregar{% else %}Guardar{% endif %}" name="botones-formulario">
    </div>
</form>
<br>
{% include 'beneficiarios/beneficiario_global.html' %}
{% endblock %}
{% block js %}
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="{% static 'js/tramites.js' %}"></script>
{% endblock %}