{% extends 'base_consultas.html' %}

{% load static %}

{% block titulo %}
SEZAMI Desk
{% endblock titulo %}

{% block colorFondo %}
style="background-color: #a2f7b5;"
{% endblock colorFondo %}

{% block css %}
<link href="{% static 'css/consultas.css' %}" rel="stylesheet" />
{% endblock css %}

{% block contenido %}
    <br>
    <div class="jumbotron jumbotron-detalle">
        <div class="container">
            <div class="row">
                {% if beneficiario %}
                    <div class="col-6">
                        <div class="card">
                            <h5 class="card-header">Datos del Beneficiario</h5>
                            <div class="card-body">
                                <div id="svg_wrap">
                                    <section> 
                                        <div class="col">
                                            <p><b>Nombre(s): </b>{{beneficiario.nombre}}</p>
                                            <p><b>Primer apellido: </b> {{beneficiario.primer_apellido}}</p>
                                            <p><b>Segundo apellido: </b> {{beneficiario.segundo_apellido}}</p>
                                            <p><b>CURP: </b>{{beneficiario.curp}}</p>
                                            <p><b>Servicio: </b>{{tramite.tipo_tramite.nombre_tramite}}</p>
                                            <p><b>Estado del trámite: </b>{{tramite.estado}}</p>
                                        </div>
                                    </section>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="card">
                            <h5 class="card-header">Contacto/Asesor</h5>
                            <div class="card-body">
                                <div id="svg_wrap">
                                    <section> 
                                        <div class="col">
                                            <p><b>Nombre: </b>{{nombre_contacto}}</p>
                                            <p><b>Teléfono: </b> {{telefono}}</p>
                                        </div>
                                    </section>
                                </div>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <h1>Trámite no encontrado.</h1>
                    <br>
                    <p>El detalle del trámite no se encontró.</p>
                {% endif %}
            </div>
            <br>
            <form style="background-color: #a2f7b5; border: #a2f7b5;" method="post" action="{% url 'consultas:lista' %}" id="consulta_form" class="consulta-form">
                {% csrf_token %}
                <input type="hidden" name="curp" value="{{beneficiario.curp}}">
                <button type="submit" class="btn btn-primary">Consultar otro trámite</button>
            </form>
        </div>
    </div>
{% endblock contenido %}